/* HeroesComponent's private CSS styles */
.heroes {
  margin: 0 0 2em 0;
  list-style-type: none;
  padding: 0;
  width: 15em;
  li {
    position: relative;
    cursor: pointer;
    &:hover {
      left: 0.1em;
    }
  }
  a {
    display: flex;
    align-items: center;
    color: #333;
    text-decoration: none;
    background-color: #eee;
    height: 2rem;
    border-radius: 4px;
    width: 100%;
    &:hover {
      color: #2c3a41;
      background-color: #e6e6e6;
    }
    &:active {
      background-color: #525252;
      color: #fafafa;
    }
  }
  li + li {
    margin-top: 0.5em;
  }
  .badge {
    display: flex;
    align-items: center;
    font-size: small;
    color: white;
    padding: 0.3125rem 0.625rem;
    background-color: #405061;
    height: 2rem;
    margin-right: 0.8em;
    border-radius: 4px 0 0 4px;
  }
}
